{% extends 'dashboard/base.html' %}


{% block content %}


<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="total-applications">
			  	<div class="card-header">
			  		<h5 class="card-title">Total App requests</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_requests}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="registered-applications">
			  	<div class="card-header">
			  		<h5 class="card-title">Registered Applications</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{registered_apps}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="pending-applications">
			  	<div class="card-header">
			  		<h5 class="card-title">Pending Applications</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{pending_apps}}</h3>
			  	</div>
			</div>
		</div>
	</div>

    <div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="rejected-applications">
			  	<div class="card-header">
			  		<h5 class="card-title">Rejected Applications</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{rejected_apps}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}